body {
  font-family: "Open-Sans", sans-serif;
}

header {
  background: #E5F3F2;
  padding: 5px;
  text-align: center;
}

header, h2 {
  font-family: "Roboto-Slab", serif;
  font-weight: 800;
}

header h1 {
  margin: 10px auto;
  font-size: 2.5em;
}

article {
  border-bottom: 2px solid #D1D3D4;
}

article h2 {
  display: inline-block;
  font-size: 1.4em;
  padding: 5px 0px;
}

input, textarea, #save-button, #search-box {
  display: block;
  margin: 20px auto;
  font-size: 1em;
}

input, textarea {
  font-family: "Open-Sans", sans-serif;
  border: 2px solid #D1D3D4;
  color: #939598;
  padding: 5px;
  width: 90%;
}

#search-box {
  width: 88%;
}

#save-button {
  background: #00A79D;
  color: #FFFFFF;
  border: none;
  width: 92%;
  padding: 5px 0px 7px;
}

p {
  display: block;
  color: #939598;
  padding: 12px 0px;
  text-align: left
}

.flexer {
  margin-top: 15px;
}

h1, h2, .quality-rating {
  color: #6D6E71;
}

.idea-container {
margin: 32px;
}

.idea-header {
  color: #00A79D;
}

.quality-container {
  padding: 15px 0px 10px 8px;
  margin-bottom: 15px;
}

textarea {
  resize: none;
}

#body-input {
  height: 7em;
}

.up-button {
  background: url('../images/upvote.svg') no-repeat;
  float: left;
}

 .up-button, .delete-button {
  border: none;
  height: 30px;
  width: 30px;
  margin: -7px;
}

.down-button {
  background: url('../images/downvote.svg') no-repeat;
  border: none;
  float: left;
  height: 30px;
  width: 30px;
  margin: -7px 12px;
}

.delete-button {
  background: url('../images/delete.svg') no-repeat;
  float: right;
  margin: auto;
}

#save-button:hover {
  background: #045E55;
}

.up-button:hover {
  background: url('../images/upvote-hover.svg') no-repeat;
}

.down-button:hover {
  background: url('../images/downvote-hover.svg') no-repeat;
}

.delete-button:hover {
  background: url('../images/delete-hover.svg') no-repeat;
}

.quality-rating {
  display: inline-block;
  /*float: left;*/
}

*:focus {
  box-shadow: none;
  outline: 0;
}

input:focus {
  color: #939598;
}

.down-button[disabled]:hover {
 background: url('../images/downvote.svg') no-repeat;
}

 .up-button[disabled]:hover {
  background: url('../images/upvote.svg') no-repeat;
}

#save-button[disabled]:hover, #save-button[disabled] {
 background: grey;
}


:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D0D2D3;
}
:-moz-placeholder { /* Firefox 19+ */
  color: #D0D2D3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D0D2D3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D0D2D3;
}

@media (min-width: 650px) {
  input, textarea {
    width: 60%;
  }

  .idea-container {
    width: 60%;
    margin: 0px auto;
  }

  #save-button {
      width: 61.5%;
  }

  #search-box {
    width: 59%;
  }
}
