body {
  font-family: "Open-Sans", sans-serif;
  text-align: center;
}

header {
  background: #E5F3F2;
  padding: 5px;
}

header, h2 {
  font-family: "Roboto-Slab", serif;
  font-weight: 800;
}

header h1 {
  margin: 10px auto;
  font-size: 2.5em;
}

article {
  border-bottom: 2px solid #D1D3D4;
  padding: 25px;
}

article h2 {
  float: left;
  font-size: 1.4em;
}

input {
  display: block;
  border: 3px solid #D1D3D4;
  color: #939598;
}

input, p, #save-button, #search-box {
  display: block;
  margin: 20px auto;
  padding: 5px;
  width: 90%;
  font-size: 1em;
  color: #D1D3D4;
}

p {
  color: #939598;
  margin: 30px 0px 20px 0px;
}

h1, h2, .quality-rating {
  color: #6D6E71;
}

.idea-container {
  padding:15px;
}

.idea-header {
  color: #00A79D;
}

.flexer {}

#body-input {
  height: 7em;
}

#save-button {
  background: #00A79D;
  color: #FFFFFF;
  border: none;
  width: 92%
}

#save-button:hover {
  background: #045E55;
}


.up-button {
  background: url('../images/upvote.svg') no-repeat;
  float: left;
}

 .up-button, .delete-button {
  border: none;
  height: 30px;
  width: 30px;
  margin: -10px;
}

.up-button:hover {
  background: url('../images/upvote-hover.svg') no-repeat;
}

.down-button:hover {
  background: url('../images/downvote-hover.svg') no-repeat;
}

.delete-button:hover {
  background: url('../images/delete-hover.svg') no-repeat;
}

.down-button {
  background: url('../images/downvote.svg') no-repeat;
  border: none;
  float: left;
  height: 30px;
  width: 30px;
  margin: -10px 15px;
}

.delete-button {
  background: url('../images/delete.svg') no-repeat;
  float: right;
}

.quality-rating {
  display: inline-block;
  float: left;
}

*:focus {
  box-shadow: none;
  outline: 0;
}


@media (min-width: 650px) {

header {

}

input {
  width: 60%;
}


.idea-container {
  width: 50%;
  margin: 0px auto;
}


#save-button {
    width: 62%;
}

#search-box {
    width: 60%;
}
